<header>
    <nav class="nav nav-masthead justify-content-center">
      <a class="btn btn-custom" href="/">Cover</a>
      <a class="btn btn-custom" aria-current="page" href="feed.ejs">Feed</a>
      <a class="btn btn-custom" href="issue.ejs">Report an issue</a>

    </nav>
  </header>